
@inject IStringLocalizer<Localization> SL
@{
    Layout = "/Pages/Shared/_Layout.cshtml";

    ViewData["MetaTitle"] = "Projects";
    ViewData["MetaInfo"] = "The project management pages allows a user to manage project.";
    ViewData["PageTitle"] = SL["PageTitle"];
    ViewData["PageInfo"] = SL["PageInfo"];
}

<div class="content__boxed">
    <div class="content__wrap">
        <div class="card">
            <div class="card-header toolbar">
                <div class="toolbar-start">
                    <div class="col-md-9 d-flex gap-1 align-items-center mb-3">
                        <h5 class="">@ViewData["CardTitle"]</h5>
                    </div>
                </div>
                <div class="toolbar-end">
                    @if (!string.IsNullOrEmpty(ViewData["ProjectInfoId"]?.ToString()))
                    {
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary dropdown-toggle hstack gap-2 show" data-bs-toggle="dropdown" aria-expanded="true">
                                <i class="bi bi-three-dots-vertical"></i>
                                <span class="vr"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-end" style="position: absolute; inset: 0px 0px auto auto; margin: 0px; transform: translate(0px, 40px);" data-popper-placement="bottom-end">
                                <li>
                                    <a asp-page="/Features/Project/Design/Index" asp-route-projectInfoId="@ViewData["ProjectInfoId"]" class="dropdown-item btn btn-info">
                                        <i class="bi bi-layout-text-window"></i>
                                        <span class="vr"></span>
                                        @SL["Designs"]
                                    </a>
                                </li>
                                <li>
                                    <a asp-page="/Features/Project/Scenario/Index" asp-route-projectInfoId="@ViewData["ProjectInfoId"]" class="dropdown-item btn btn-info">
                                        <i class="bi bi-sliders"></i>
                                        <span class="vr"></span>
                                        @SL["Scenarios"]
                                    </a>
                                </li>
                                <li>
                                    <a asp-page="/Features/Project/Quantity/Index" asp-route-projectInfoId="@ViewData["ProjectInfoId"]" class="dropdown-item btn btn-info">
                                        <i class="bi bi-file-earmark-text"></i>
                                        <span class="vr"></span>
                                        @SL["Quantities"]
                                    </a>
                                </li>
                                <li>
                                    <a asp-page="/Features/Project/Simulation/Index" asp-route-projectInfoId="@ViewData["ProjectInfoId"]" class="dropdown-item btn btn-info">
                                        <i class="bi bi-calculator"></i>
                                        <span class="vr"></span>
                                        @SL["Simulations"]
                                    </a>
                                </li>
                            </ul>
                        </div>
                    }
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Links {
    @RenderSection("Links", required: false)
}

@section Breadcrumb {
    <li class="breadcrumb-item"><a asp-page="/Features/Project/Index">@SL["Projects"]</a></li>
    @RenderSection("Breadcrumb", required: false)
}

@section Scripts {
    @RenderSection("Scripts", required: false)
}