@page
@inject IViewLocalizer Localizer
@model ExternalLoginModel
@{
    string message = "You've successfully authenticated with <strong>{0}</strong>. "
                   + "Please enter an email address for this site below and click the Register button to finish "
                   + "logging in.";
    string localized = Localizer["Message"].Value.ToString();
    if (string.IsNullOrEmpty(localized) || localized == "Message")
        localized = message;
    ViewData["Title"] = Localizer["Register"];
    ViewData["Message"] = localized.Replace("{0}", Model.ProviderDisplayName);
}
<div class="card shadow-lg">
    <div class="card-body">

        <div class="text-center">
            <h1 class="h3">@ViewData["Title"]</h1>
            <p>@Localizer["Associate your"] @Model.ProviderDisplayName @Localizer["account."]</p>
            <p id="external-login-description" class="text-info">@ViewData["Message"]</p>
        </div>

        <form id="externalLoginForm" asp-page-handler="Confirmation" asp-route-returnUrl="@Model.ReturnUrl" class="mt-5" method="post">
            <div class="w-md-400px d-inline-flex row g-3 mb-4">
                <div class="col-sm-6">
                    <input asp-for="Input.GivenName" class="form-control" autocomplete="givenname" placeholder="@Html.DisplayNameFor(model => model.Input.GivenName)" aria-required="true" aria-label="First name" autofocus>
                    <span asp-validation-for="Input.GivenName" class="text-danger"></span>
                </div>
                <div class="col-sm-6">
                    <input asp-for="Input.Surname" class="form-control" autocomplete="surname" placeholder="@Html.DisplayNameFor(model => model.Input.Surname)" aria-label="Last name" aria-required="true" />
                    <span asp-validation-for="Input.Surname" class="text-danger"></span>
                </div>
                <div class="col-12">
                    <input asp-for="Input.Email" class="form-control" autocomplete="email" placeholder="@Html.DisplayNameFor(model => model.Input.Email)" aria-label="Email" aria-required="true" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>

                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

                <div class="d-grid mt-5">
                    <button id="registerSubmit" type="submit" class="btn btn-primary btn-lg">@Localizer["Register"]</button>
                </div>

            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}