@page
@inject IViewLocalizer Localizer
@model ForgotPasswordModel
@{
    ViewData["MetaTitle"] = Localizer["Forgot your password?"];
}
<div class="card shadow-lg">
    <div class="card-body p-4">

        <div class="text-center">
            <h1 class="h3">@ViewData["MetaTitle"]</h1>
            <p class="text-info">@Localizer["Enter your email address to recover your password."]</p>
        </div>

        <form id="forgotPasswordForm" class="mt-4" method="post">
            <div class="mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="email" placeholder="@Html.DisplayNameFor(model => model.Input.Email)" aria-label="Email" aria-required="true" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>

            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

            <div class="d-grid mt-5">
                <button id="forgotPasswordSubmit" type="submit" class="btn btn-warning btn-lg">@Localizer["Reset Password"]</button>
            </div>
        </form>
        <div class="text-center mt-3">
            <a asp-page="Login" class="btn-link text-decoration-none">@Localizer["Back to login"]</a>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
