@page
@inject IViewLocalizer Localizer
@model RegisterConfirmationModel
@{
    ViewData["Title"] = Localizer["Register confirmation"];
}
<div class="card shadow-lg">
    <div class="card-body p-4">

        <div class="text-center">
            <h1 class="h3 text-danger">@ViewData["Title"]</h1>
            @{
                if (@Model.DisplayConfirmAccountLink)
                {
                    <p>
                        <a id="confirm-link" href="@Model.EmailConfirmationUrl">@Localizer["Click here to confirm your account."]</a>
                    </p>
                }
                else
                {
                    <p>
                        @Localizer["Please check your email to confirm your account."]
                    </p>
                }
            }
        </div>

    </div>
</div>
