@page
@model Huybrechts.Web.Pages.Platform.IndexModel
@{
    ViewData["Title"] = "Available Platforms";
    ViewData["ActivePage"] = ManageNavPages.Index;
    var prevDisabled = !Model.Data.Results.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.Data.Results.HasNextPage ? "disabled" : "";
}
<h3>@ViewData["Title"]</h3>
<p class="text-info">
    The list of platforms.
</p>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-12">
        <p>
            <form method="get">
                <div class="form-actions no-color">
                    <p>
                        <a class="btn btn-primary" asp-page="Create">Create <i class="bi bi-plus-circle"></i></a> |
                        Find: <input type="text" name="SearchString" value="@Model.Data.CurrentFilter" />
                        <input type="submit" value="Search" class="btn btn-primary" /> |
                        <a asp-page="Index" class="btn btn-secondary">Clear filter</a>
                    </p>
                </div>
            </form>
        </p>
        @if (Model.Data.Results.Count > 0)
        {
            <table class="table table-responsive" data-toggle="table">
                <thead>
                    <tr>
                        <th>
                            <a class="link-info" asp-page="Index" asp-route-sortOrder="@Model.Data.NameSortParm" asp-route-currentFilter="@Model.Data.CurrentFilter">
                                @Html.DisplayNameFor(model => model.Data.Results[0].Name)
                            </a>
                        </th>
                        <th>@Html.DisplayNameFor(model => model.Data.Results[0].Description)</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Data.Results)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item!.Name)</td>
                            <td>@Html.DisplayFor(modelItem => item!.Description)</td>
                            <td>
                                <a asp-page="Edit" asp-route-id="@item!.Id"><i class="bi bi-pencil-square"></i></a>
                                <a asp-page="Delete" asp-route-id="@item!.Id"><i class="bi bi-trash2-fill"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <p></p>
            <div class="align-items-center">
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item @prevDisabled">
                            <a asp-page="Index"
                               asp-route-sortOrder="@Model.Data.CurrentSort"
                               asp-route-pageindex="@(Model.Data.Results.PageIndex - 1)"
                               asp-route-currentFilter="@Model.Data.CurrentFilter"
                               class="page-link" aria-label="Previous">
                               <span aria-hidden="true">&laquo;</span>
                               <span class="sr-only">Previous</span>
                            </a>
                        </li>
                        @for(int i = 0; i < Model.Data.Results.TotalPages; i++)
                        {
                            <li class="page-item">
                                <a asp-page="Index"
                                   asp-route-sortOrder="@Model.Data.CurrentSort"
                                   asp-route-pageindex="@i"
                                   asp-route-currentFilter="@Model.Data.CurrentFilter"
                                   class="page-link">
                                   @(i + 1)
                                </a>
                            </li>
                        }
                        <li class="page-item @nextDisabled">
                            <a asp-page="Index"
                               asp-route-sortOrder="@Model.Data.CurrentSort"
                               asp-route-pageindex="@(Model.Data.Results.PageIndex + 1)"
                               asp-route-currentFilter="@Model.Data.CurrentFilter"
                               class="page-link" aria-label="Next">
                               <span aria-hidden="true">&raquo;</span>
                               <span class="sr-only">Next</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        }
    </div>
</div>

@section Links {
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-table@1.23.1/dist/bootstrap-table.min.css">
}

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-table@1.23.1/dist/bootstrap-table.min.js"></script>
}