@page
@model Huybrechts.Web.Pages.Platform.IndexModel
@{
    ViewData["Title"] = "Your platforms";
    ViewData["ActivePage"] = ManageNavPages.Index;
}
<h3>@ViewData["Title"]</h3>
@if (Model.Records.Count > 0)
{
    <p class="text-info">
        The list of platforms you are part of.
    </p>
}
else
{
    <p class="text-info">
        You do not have any platforms defined at this moment.
    </p>
}
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-12">
        <p>
            <a class="btn btn-primary" asp-page="./Create"><i class="bi bi-plus-circle"></i></a>
        </p>
        @if (Model.Records.Count > 0)
        {
            <table class="table table-responsive">
                <tr>
                    <th></th>
                    <th>@Html.DisplayNameFor(model => model.Records[0].Name)</th>
                    <th>@Html.DisplayNameFor(model => model.Records[0].Description)</th>
                    <th></th>
                </tr>
                @foreach (var item in Model.Records)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item!.Name)</td>
                        <td>@Html.DisplayFor(modelItem => item!.Description)</td>
                        <td>
                            <a asp-page="./Edit" asp-route-id="@item!.Id"><i class="bi bi-pencil-square"></i></a>
                            <a asp-page="./Delete" asp-route-id="@item!.Id"><i class="bi bi-trash2-fill"></i></a>
                        </td>
                    </tr>
                }
            </table>
        }
    </div>
</div>