@page
@inject IStringLocalizer<Localization> SL
@model Huybrechts.Web.Pages.Features.Platform.Service.IndexModel
@{
    ViewData["CardTitle"] = SL["ServiceIndexTitle"];
    //ViewData["ActivePage"] = ManageNavPages.Info;
    var prev = !Model.Data.Results.HasPreviousPage ? "disabled" : "";
    var next = !Model.Data.Results.HasNextPage ? "disabled" : "";
}
<partial name="_StatusMessage" for="StatusMessage" />
<p class="text-info">
    @SL["ServiceIndexInfo"]
</p>
<div class="row">
    <div class="col-md-12">
        
        <div class="row">
            <form class="row row-cols-md-auto g-3 align-items-center">
                <div class="col-md-3 d-flex gap-1 align-items-center mb-3">
                    <a class="btn btn-primary hstack gap-2 align-self-center" asp-page="Create" asp-route-platformInfoId="@Model.Data.PlatformInfoId">
                        <i class="bi bi-plus-circle fs-5"></i>
                        <span class="vr"></span>
                        @SL["Add New"]
                    </a>
                    <a class="btn btn-primary hstack gap-2 align-self-center" asp-page="Import" asp-route-platformInfoId="@Model.Data.PlatformInfoId">
                        <i class="bi bi-cloud-arrow-down-fill fs-5"></i>
                        <span class="vr"></span>
                        @SL["Import"]
                    </a>
                </div>
                <div class="col-md-9 d-flex gap-1 align-items-center justify-content-md-end mb-3">
                    <select asp-for="Data.PlatformInfoId" 
                            asp-items="Model.Data.Platforms?.Select(p => new SelectListItem
                                {
                                    Value = p.Id.ToString(),
                                    Text = p.Name
                                }).ToList()" 
                            class="form-control"
                            disabled></select>
                    <input type="hidden" name="platformInfoId" value="@Model.Data.PlatformInfoId" />
                    <input type="text" name="SearchText" value="@Model.Data.CurrentFilter" placeholder="@SL["Search..."]" class="form-control" autocomplete="off" />
                    <input type="submit" value="@SL["Search"]" class="btn btn-primary" /> |
                    <a asp-page="Index" asp-route-platformInfoId="@Model.Data.PlatformInfoId" class="btn btn-secondary text-nowrap" type="button" role="button">@SL["Clear Filter"]</a>
                </div>
            </form>
            @if (Model.Data.Results.Count > 0)
            {
                <div class="table-responsove">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.Data.Results[0].Name)</th>
                                <th>@Html.DisplayNameFor(model => model.Data.Results[0].Label)</th>
                                @* <th>@Html.DisplayNameFor(model => model.Data.Results[0].Description)</th> *@
                                <th>@Html.DisplayNameFor(model => model.Data.Results[0].CostDriver)</th>
                                <th>@Html.DisplayNameFor(model => model.Data.Results[0].CostBasedOn)</th>
                                <th>@Html.DisplayNameFor(model => model.Data.Results[0].Limitations)</th>
                                <th>@Html.DisplayNameFor(model => model.Data.Results[0].PricingTier)</th>
                                <th></th>
                            </tr>
                            
                        </thead>
                        <tbody>
                            @foreach (var record in Model.Data.Results)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => record!.Name)</td>
                                    <td>@Html.DisplayFor(modelItem => record!.Label)</td>
                                    @* <td>@Html.DisplayFor(modelItem => record!.Description)</td> *@
                                    <td>@Html.DisplayFor(modelItem => record!.CostDriver)</td>
                                    <td>@Html.DisplayFor(modelItem => record!.CostBasedOn)</td>
                                    <td>@Html.DisplayFor(modelItem => record!.Limitations)</td>
                                    <td>@Html.DisplayFor(modelItem => record!.PricingTier)</td>
                                    <td>
                                        @if (!string.IsNullOrEmpty(record.AboutURL))
                                        {
                                            <a href="@record.AboutURL" target="_blank" class="btn btn-icon btn-info" title="About">
                                                <i class="bi bi-info-circle"></i>
                                            </a>
                                        }
                                        @if (!string.IsNullOrEmpty(record.PricingURL))
                                        {
                                            <a href="@record.PricingURL" target="_blank" class="btn btn-icon btn-success" title="Pricing">
                                                <i class="bi bi-cash"></i>
                                            </a>
                                        }
                                        <a asp-page="Edit" asp-route-id="@record!.Id" class="btn btn-icon btn-primary"><i class="bi bi-pencil-square"></i></a>
                                        <a asp-page="Delete" asp-route-id="@record!.Id" class="btn btn-icon btn-secondary"><i class="bi bi-trash2-fill"></i></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <nav class="text-align-center mt-5" aria-label="Table navigation">
                    <ul class="pagination justify-content-center">
                        <li class="page-item @prev">
                            <a asp-page="Index"
                               asp-route-platformInfoId="@Model.Data.PlatformInfoId"
                               asp-route-pageindex="@(Model.Data.Results.PageIndex - 1)"
                               asp-route-currentFilter="@Model.Data.CurrentFilter"
                               class="page-link" aria-label="Previous">
                               <span aria-hidden="true">&laquo;</span>
                               <span class="sr-only">@SL["Previous"]</span>
                            </a>
                        </li>
                        @for (int i = 1; i <= Model.Data.Results.TotalPages; i++)
                        {
                            <li class="page-item @(Model.Data.Results.PageIndex == i ? "active" : string.Empty)" aria-current="page">
                                <a asp-page="Index"
                                   asp-route-platformInfoId="@Model.Data.PlatformInfoId"
                                   asp-route-pageindex="@i"
                                   asp-route-currentFilter="@Model.Data.CurrentFilter"
                                   class="page-link">
                                   @(i)
                                </a>
                            </li>
                        }
                        <li class="page-item @next">
                            <a asp-page="Index"
                               asp-route-platformInfoId="@Model.Data.PlatformInfoId"
                               asp-route-pageindex="@(Model.Data.Results.PageIndex + 1)"
                               asp-route-currentFilter="@Model.Data.CurrentFilter"
                               class="page-link" aria-label="Next">
                               <span aria-hidden="true">&raquo;</span>
                               <span class="sr-only">@SL["Next"]</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            }
        </div>
    </div>
</div>

@section Breadcrumb {
    <li class="breadcrumb-item"><a asp-page="/Features/Platform/Service/Index" asp-route-platformInfoId="@Model.Data.PlatformInfoId">@SL["Services"]</a></li>
}