@page
@inject IStringLocalizer<Localization> SL
@model Huybrechts.Web.Pages.Features.Platform.Rate.EditModel
@{
    ViewData["CardTitle"] = Model.Data.Product.Name + " | " + SL["RateEditTitle"];
}

<partial name="_StatusResult" for="StatusMessage" />
<p class="text-info">
    @SL["RateEditInfo"]
</p>

<div class="row">
    <div class="col-md-6">
        <form id="create-form" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <input type="hidden" asp-for="Data.PlatformInfoId" />
            <input type="hidden" asp-for="Data.PlatformProductId" />
            <input type="hidden" asp-for="Data.PlatformProductLabel" />
            <input type="hidden" asp-for="Data.Id" />
            <div class="form-floating mb-3">
                <select asp-for="Data.PlatformRegionId"
                        asp-items="Model.Data.Regions?.Select(p => new SelectListItem
                                {
                                    Value = p.Id.ToString(),
                                    Text = p.Label
                                }).ToList()"
                        class="form-select" ></select>
                <label asp-for="Data.PlatformRegionId" class="form-label"></label>
            </div>
            <div class="form-floating mb-3">
                <select asp-for="Data.PlatformServiceId"
                        asp-items="Model.Data.Services?.Select(p => new SelectListItem
                                {
                                    Value = p.Id.ToString(),
                                    Text = p.Label
                                }).ToList()"
                        class="form-select" ></select>
                <label asp-for="Data.PlatformServiceId" class="form-label"></label>
            </div>
            <div class="form-floating mb-3">
                <select asp-for="Data.CurrencyCode"
                        asp-items="Model.Data.Currencies?.Select(p => new SelectListItem
                                {
                                    Value = p,
                                    Text = p
                                }).ToList()"
                        class="form-select" ></select>
                <label asp-for="Data.CurrencyCode" class="form-label"></label>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Data.ValidFrom" class="form-control" />
                <label asp-for="Data.ValidFrom" class="form-label"></label>
                <span asp-validation-for="Data.ValidFrom" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Data.ServiceName" class="form-control" />
                <label asp-for="Data.ServiceName" class="form-label"></label>
                <span asp-validation-for="Data.ServiceName" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Data.ServiceFamily" class="form-control" />
                <label asp-for="Data.ServiceFamily" class="form-label"></label>
                <span asp-validation-for="Data.ServiceFamily" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Data.ProductName" class="form-control" />
                <label asp-for="Data.ProductName" class="form-label"></label>
                <span asp-validation-for="Data.ProductName" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Data.SkuName" class="form-control" />
                <label asp-for="Data.SkuName" class="form-label"></label>
                <span asp-validation-for="Data.SkuName" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Data.MeterName" class="form-control" />
                <label asp-for="Data.MeterName" class="form-label"></label>
                <span asp-validation-for="Data.MeterName" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Data.RateType" class="form-control" />
                <label asp-for="Data.RateType" class="form-label"></label>
                <span asp-validation-for="Data.RateType" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Data.RetailPrice" class="form-control" />
                <label asp-for="Data.RetailPrice" class="form-label"></label>
                <span asp-validation-for="Data.RetailPrice" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Data.UnitPrice" class="form-control" />
                <label asp-for="Data.UnitPrice" class="form-label"></label>
                <span asp-validation-for="Data.UnitPrice" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Data.MinimumUnits" class="form-control" />
                <label asp-for="Data.MinimumUnits" class="form-label"></label>
                <span asp-validation-for="Data.MinimumUnits" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Data.UnitOfMeasure" class="form-control" />
                <label asp-for="Data.UnitOfMeasure" class="form-label"></label>
                <span asp-validation-for="Data.UnitOfMeasure" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Data.IsPrimaryRegion" class="form-control" />
                <label asp-for="Data.IsPrimaryRegion" class="form-label"></label>
                <span asp-validation-for="Data.IsPrimaryRegion" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Data.Remark" class="form-control" />
                <label asp-for="Data.Remark" class="form-label"></label>
                <span asp-validation-for="Data.Remark" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <a class="w-30 btn btn-lg btn-secondary" asp-page="Index" asp-route-platformProductId="@Model.Data.PlatformProductId"><i class="bi bi-arrow-left-circle-fill"></i></a>
                <button id="create-button" type="submit" class="w-70 btn btn-lg btn-primary"><i class="bi bi-floppy-fill"></i></button>
            </div>
        </form>
    </div>
</div>

@section Breadcrumb {
    <li class="breadcrumb-item">@Model.Data.Platform.Name</li>
    <li class="breadcrumb-item"><a asp-page="/Features/Platform/Product/Index" asp-route-platformInfoId="@Model.Data.Platform.Id">@SL["Products"]</a></li>
    <li class="breadcrumb-item">@Model.Data.Product.Label</li>
    <li class="breadcrumb-item">@SL["Rates"]</li>
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}