@page
@inject IStringLocalizer<Localization> SL
@model Huybrechts.Web.Pages.Features.Platform.Rate.IndexModel
@{
    ViewData["CardTitle"] = SL["RateIndexTitle"];
    //ViewData["ActivePage"] = ManageNavPages.Service;
    var prev = !Model.Data.Results.HasPreviousPage ? "disabled" : "";
    var next = !Model.Data.Results.HasNextPage ? "disabled" : "";
}
<partial name="_StatusMessage" for="StatusMessage" />
<p class="text-info">
    @SL["RateIndexInfo"]
</p>
<div class="row">
    <div class="col-md-12">
        
        <div class="row">
            <form class="row row-cols-md-auto g-3 align-items-center">
                <div class="col-md-3 d-flex gap-1 align-items-center mb-3">
                    <a class="btn btn-primary hstack gap-2 align-self-center" asp-page="Create" asp-route-platformServiceId="@Model.Data.PlatformServiceId">
                        <i class="bi bi-plus-circle fs-5"></i>
                        <span class="vr"></span>
                        @SL["Add New"]
                    </a>
                    <a class="btn btn-primary hstack gap-2 align-self-center" asp-page="Import" asp-route-platformServiceId="@Model.Data.PlatformServiceId">
                        <i class="bi bi-cloud-arrow-down-fill fs-5"></i>
                        <span class="vr"></span>
                        @SL["Import"]
                    </a>
                </div>
                <div class="col-md-9 d-flex gap-1 align-items-center justify-content-md-end mb-3">
                    <input type="hidden" name="platformServiceId" value="@Model.Data.PlatformServiceId" />
                    <select asp-for="Data.PlatformRegionId"
                            asp-items="Model.Data.Regions?.Select(p => new SelectListItem
                                {
                                    Value = p.Id.ToString(),
                                    Text = p.Name
                                }).ToList()"
                            class="form-control"
                            disabled></select>
                    <select asp-for="Data.PlatformProductId"
                            asp-items="Model.Data.Products?.Select(p => new SelectListItem
                                {
                                    Value = p.Id.ToString(),
                                    Text = p.Name
                                }).ToList()"
                            class="form-control"
                            disabled></select>
                    <select asp-for="Data.CurrencyCode"
                            asp-items="Model.Data.Currencies?.Select(p => new SelectListItem
                                {
                                    Value = p,
                                    Text = p
                                }).ToList()"
                            class="form-control"
                            disabled></select>
                    <input type="text" name="SearchText" value="@Model.Data.CurrentFilter" placeholder="@SL["Search..."]" class="form-control" autocomplete="off" />
                    <input type="submit" value="@SL["Search"]" class="btn btn-primary" /> |
                    <a asp-page="Index" asp-route-platformServiceId="@Model.Data.PlatformServiceId" class="btn btn-secondary text-nowrap" type="button" role="button">@SL["Clear Filter"]</a>
                </div>
            </form>
            @if (Model.Data.Results.Count > 0)
            {
                <div class="table-responsove">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.Data.Results[0].SkuName)</th>
                                <th>@Html.DisplayNameFor(model => model.Data.Results[0].MeterName)</th>
                                <th>@Html.DisplayNameFor(model => model.Data.Results[0].RetailPrice)</th>
                                <th>@Html.DisplayNameFor(model => model.Data.Results[0].UnitOfMeasure)</th>
                                <th>@Html.DisplayNameFor(model => model.Data.Results[0].MininumUnits)</th>
                                <th></th>
                            </tr>
                            
                        </thead>
                        <tbody>
                            @foreach (var record in Model.Data.Results)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => record!.SkuName)</td>
                                    <td>@Html.DisplayFor(modelItem => record!.MeterName)</td>
                                    <td>@Html.DisplayFor(modelItem => record!.RetailPrice)</td>
                                    <td>@Html.DisplayFor(modelItem => record!.UnitOfMeasure)</td>
                                    <td>@Html.DisplayFor(modelItem => record!.MininumUnits)</td>
                                    <td>
                                        <a asp-page="Edit" asp-route-id="@record!.Id" class="btn btn-icon btn-primary"><i class="bi bi-pencil-square"></i></a>
                                        <a asp-page="Delete" asp-route-id="@record!.Id" class="btn btn-icon btn-secondary"><i class="bi bi-trash2-fill"></i></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <nav class="text-align-center mt-5" aria-label="Table navigation">
                    <ul class="pagination justify-content-center">
                        <li class="page-item @prev">
                            <a asp-page="Index"
                               asp-route-platformServiceId="@Model.Data.PlatformServiceId"
                               asp-route-pageindex="@(Model.Data.Results.PageIndex - 1)"
                               asp-route-currentFilter="@Model.Data.CurrentFilter"
                               class="page-link" aria-label="Previous">
                               <span aria-hidden="true">&laquo;</span>
                               <span class="sr-only">@SL["Previous"]</span>
                            </a>
                        </li>
                        @for (int i = 1; i <= Model.Data.Results.TotalPages; i++)
                        {
                            <li class="page-item @(Model.Data.Results.PageIndex == i ? "active" : string.Empty)" aria-current="page">
                                <a asp-page="Index"
                                   asp-route-platformServiceId="@Model.Data.PlatformServiceId"
                                   asp-route-pageindex="@i"
                                   asp-route-currentFilter="@Model.Data.CurrentFilter"
                                   class="page-link">
                                   @(i)
                                </a>
                            </li>
                        }
                        <li class="page-item @next">
                            <a asp-page="Index"
                               asp-route-platformServiceId="@Model.Data.PlatformServiceId"
                               asp-route-pageindex="@(Model.Data.Results.PageIndex + 1)"
                               asp-route-currentFilter="@Model.Data.CurrentFilter"
                               class="page-link" aria-label="Next">
                               <span aria-hidden="true">&raquo;</span>
                               <span class="sr-only">@SL["Next"]</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            }
        </div>
    </div>
</div>

@section Breadcrumb {
    <li class="breadcrumb-item"><a asp-page="/Features/Platform/Rate/Index" asp-route-platformServiceId="@Model.Data.PlatformServiceId">@SL["Rates"]</a></li>
}