@page
@inject IStringLocalizer<Localization> SL
@model Huybrechts.Web.Pages.Features.Platform.Product.EditModel
@{
    ViewData["CardTitle"] = SL["ProductEditTitle"];
}

<partial name="_StatusResult" for="StatusMessage" />
<p class="text-info">
    @SL["ProductEditInfo"]
</p>

<div class="row">
    <div class="col-md-6">
        <form id="create-form" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <input type="hidden" asp-for="Data.Id" />
            <div class="form-floating mb-3">
                <input type="hidden" asp-for="Data.PlatformInfoId" />
                <input asp-for="Data.PlatformInfoName" class="form-control" disabled/>
                <label asp-for="Data.PlatformInfoName" class="form-label"></label>
                <span asp-validation-for="Data.PlatformInfoName" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Data.Name" class="form-control" />
                <label asp-for="Data.Name" class="form-label"></label>
                <span asp-validation-for="Data.Name" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Data.Label" class="form-control" />
                <label asp-for="Data.Label" class="form-label"></label>
                <span asp-validation-for="Data.Label" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Data.Category" class="form-control" />
                <label asp-for="Data.Category" class="form-label"></label>
                <span asp-validation-for="Data.Category" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Data.Description" class="form-control" />
                <label asp-for="Data.Description" class="form-label"></label>
                <span asp-validation-for="Data.Description" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Data.CostDriver" class="form-control" />
                <label asp-for="Data.CostDriver" class="form-label"></label>
                <span asp-validation-for="Data.CostDriver" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Data.CostBasedOn" class="form-control" />
                <label asp-for="Data.CostBasedOn" class="form-label"></label>
                <span asp-validation-for="Data.CostBasedOn" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Data.Limitations" class="form-control" />
                <label asp-for="Data.Limitations" class="form-label"></label>
                <span asp-validation-for="Data.Limitations" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Data.AboutURL" class="form-control" />
                <label asp-for="Data.AboutURL" class="form-label"></label>
                <span asp-validation-for="Data.AboutURL" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Data.PricingURL" class="form-control" />
                <label asp-for="Data.PricingURL" class="form-label"></label>
                <span asp-validation-for="Data.PricingURL" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Data.PricingTier" class="form-control" />
                <label asp-for="Data.PricingTier" class="form-label"></label>
                <span asp-validation-for="Data.PricingTier" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Data.Remark" class="form-control" />
                <label asp-for="Data.Remark" class="form-label"></label>
                <span asp-validation-for="Data.Remark" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <a class="w-30 btn btn-lg btn-secondary" asp-page="Index" asp-route-platformInfoId="@Model.Data.PlatformInfoId"><i class="bi bi-arrow-left-circle-fill"></i></a>
                <button id="edit-button" type="submit" class="w-70 btn btn-lg btn-primary"><i class="bi bi-floppy-fill"></i></button>
            </div>
        </form>
    </div>
</div>

@section Breadcrumb {
    <li class="breadcrumb-item">@Model.Data.PlatformInfoName</li>
    <li class="breadcrumb-item"><a asp-page="/Features/Platform/Product/Index" asp-route-platformInfoId="@Model.Data.PlatformInfoId">@SL["Products"]</a></li>
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}