@page
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<Huybrechts.Web.Pages.Features.Setup.Localization> SL
@model Huybrechts.Web.Pages.Features.Setup.Country.IndexModel
@{
    ViewData["CardTitle"] =  SL["CountryIndexTitle"];
    ViewData["ActivePage"] = ManageNavPages.Country;
    var prev = !Model.Data.Results.HasPreviousPage ? "disabled" : "";
    var next = !Model.Data.Results.HasNextPage ? "disabled" : "";
}
<partial name="_StatusResult" for="StatusMessage" />
<p class="text-info">
    @SL["CountryIndexInfo"]
</p>
<div class="row">
    <div class="col-md-12">
        
        <div class="row">
            <form class="row row-cols-md-auto g-3 align-items-center">
                <div class="col-md-3 d-flex gap-1 align-items-center mb-3">
                    <a class="btn btn-primary hstack gap-2 align-self-center" asp-page="Create">
                        <i class="bi bi-plus-circle fs-5"></i>
                        <span class="vr"></span>
                        @SL["Add New"]
                    </a>
                    <a class="btn btn-primary hstack gap-2 align-self-center" asp-page="Import">
                        <i class="bi bi-cloud-arrow-down-fill fs-5"></i>
                        <span class="vr"></span>
                        @SL["Import"]
                    </a>
                </div>
                <div class="col-md-9 d-flex gap-1 align-items-center justify-content-md-end mb-3">
                    <input type="text" name="SearchText" value="@Model.Data.CurrentFilter" placeholder="@SL["Search..."]" class="form-control" autocomplete="off" />
                    <input type="submit" value="@SL["Search"]" class="btn btn-primary" /> |
                    <a asp-page="Index" class="btn btn-secondary text-nowrap" type="button" role="button">@SL["Clear Filter"]</a>
                </div>
            </form>
            @if (Model.Data.Results.Count > 0)
            {
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.Data.Results[0].Code)</th>
                                <th>@Html.DisplayNameFor(model => model.Data.Results[0].Name)</th>
                                <th>@Html.DisplayNameFor(model => model.Data.Results[0].TranslatedName)</th>
                                <th>@Html.DisplayNameFor(model => model.Data.Results[0].SetupLanguageCode)</th>
                                <th>@Html.DisplayNameFor(model => model.Data.Results[0].SetupCurrencyCode)</th>
                                <th>@Html.DisplayNameFor(model => model.Data.Results[0].Description)</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var record in Model.Data.Results)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => record!.Code)</td>
                                    <td>@Html.DisplayFor(modelItem => record!.Name)</td>
                                    <td>@Html.DisplayFor(modelItem => record!.TranslatedName)</td>
                                    <td>@Html.DisplayFor(modelItem => record!.SetupLanguageCode)</td>
                                    <td>@Html.DisplayFor(modelItem => record!.SetupCurrencyCode)</td>
                                    <td>@Html.DisplayFor(modelItem => record!.Description)</td>
                                    <td>
                                        <a asp-page="Edit" asp-route-id="@record!.Id" class="btn btn-icon btn-primary"><i class="bi bi-pencil-square"></i></a>
                                        <a asp-page="Delete" asp-route-id="@record!.Id" class="btn btn-icon btn-secondary"><i class="bi bi-trash2-fill"></i></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <nav class="text-align-center mt-5" aria-label="Table navigation">
                    <ul class="pagination justify-content-center">
                        <li class="page-item @prev">
                            <a asp-page="Index"
                               asp-route-currentFilter="@Model.Data.CurrentFilter"
                               asp-route-searchText="@Model.Data.CurrentFilter"
                               asp-route-sortOrder="@Model.Data.SortOrder"
                               asp-route-pageIndex="@(Model.Data.Results.PageIndex - 1)"                            
                               class="page-link" aria-label="Previous">
                               <span aria-hidden="true">&laquo;</span>
                               <span class="sr-only">@SL["Previous"]</span>
                            </a>
                        </li>
                        @for (int i = 1; i <= Model.Data.Results.TotalPages; i++)
                        {
                            <li class="page-item @(Model.Data.Results.PageIndex == i ? "active" : string.Empty)" aria-current="page">
                                <a asp-page="Index"
                                   asp-route-currentFilter="@Model.Data.CurrentFilter"
                                   asp-route-searchText="@Model.Data.CurrentFilter"
                                   asp-route-sortOrder="@Model.Data.SortOrder"
                                   asp-route-pageindex="@i"
                                   class="page-link">
                                   @(i)
                                </a>
                            </li>
                        }
                        <li class="page-item @next">
                            <a asp-page="Index"
                               asp-route-currentFilter="@Model.Data.CurrentFilter"
                               asp-route-searchText="@Model.Data.CurrentFilter"
                               asp-route-sortOrder="@Model.Data.SortOrder"
                               asp-route-pageindex="@(Model.Data.Results.PageIndex + 1)"
                               class="page-link" aria-label="Next">
                               <span class="sr-only">@SL["Next"]</span>
                               <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            }
            else
            {
                <div class="card border-2 border-secondary">
                    <h5 class="card-body">@SL["NoResults"]</h5>
                </div>
            }
        </div>
    </div>
</div>