@using Huybrechts.App.Application
@inject IViewLocalizer Localizer
@inject ApplicationSignInManager SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}
<ul class="nav nav-pills flex-column">
    <li class="nav-item"><a class="nav-link @ManageNavPages.IndexNavClass(ViewContext)" id="setup" asp-page="/Features/Setup/Index">@Localizer["Setup"]</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.LanguageNavClass(ViewContext)" id="languages" asp-page="/Features/Setup/Language/Index">@Localizer["Languages"]</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.UnitNavClass(ViewContext)" id="setupunit" asp-page="/Features/Setup/Unit/Index">@Localizer["System units"]</a></li>
</ul>
