@page
@inject IViewLocalizer Localizer
@using Microsoft.AspNetCore.Http.Features
@model TwoFactorAuthenticationModel
@{
    ViewData["CardTitle"] = Localizer["Two-factor authentication (2FA)"];
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
@{
    var consentFeature = HttpContext.Features.Get<ITrackingConsentFeature>();
    @if (consentFeature?.CanTrack ?? true)
    {
        @if (Model.Is2faEnabled)
        {
            if (Model.RecoveryCodesLeft == 0)
            {
                <div class="alert alert-danger">
                    <strong>@Localizer["You have no recovery codes left."]</strong>
                    <p>@Localizer["You must generate a new set of"] <a asp-page="./GenerateRecoveryCodes">@Localizer["recovery codes"]</a> @Localizer["before you can log in with a recovery code."]</p>
                </div>
            }
            else if (Model.RecoveryCodesLeft == 1)
            {
                <div class="alert alert-danger">
                    <strong>@Localizer["You have 1 recovery code left."]</strong>
                    <p>@Localizer["You can generate a new set of"] <a asp-page="./GenerateRecoveryCodes">@Localizer["recovery codes"]</a>.</p>
                </div>
            }
            else if (Model.RecoveryCodesLeft <= 3)
            {
                <div class="alert alert-warning">
                    <strong>@Localizer["You have {0} recovery codes left."].Value.Replace("{0}", @Model.RecoveryCodesLeft.ToString())</strong>
                    <p>@Localizer["You should generate a new set of"] <a asp-page="./GenerateRecoveryCodes">@Localizer["recovery codes"]</a>.</p>
                </div>
            }

            if (Model.IsMachineRemembered)
            {
                <form method="post" style="display: inline-block">
                    <button type="submit" class="btn btn-primary">@Localizer["Forget this browser"]</button>
                </form>
            }
            <a asp-page="./Disable2fa" class="btn btn-primary">@Localizer["Disable 2FA"]</a>
            <a asp-page="./GenerateRecoveryCodes" class="btn btn-primary">@Localizer["Reset recovery codes"]</a>
        }

        <h5>Authenticator app</h5>
        @if (!Model.HasAuthenticator)
        {
            <a id="enable-authenticator" asp-page="./EnableAuthenticator" class="btn btn-primary">@Localizer["Add authenticator app"]</a>
        }
        else
        {
            <a id="enable-authenticator" asp-page="./EnableAuthenticator" class="btn btn-primary">@Localizer["Set up authenticator app"]</a>
            <a id="reset-authenticator" asp-page="./ResetAuthenticator" class="btn btn-primary">@Localizer["Reset authenticator app"]</a>
        }
    }
    else
    {
        <div class="alert alert-danger">
            <strong>@Localizer["Privacy and cookie policy have not been accepted."]</strong>
            <p>@Localizer["You must accept the policy before you can enable two factor authentication."]</p>
        </div>
    }
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
