@page
@inject IStringLocalizer<Localization> SL
@model Huybrechts.Web.Pages.Features.Platform.DefaultUnit.DeleteModel
@{
    ViewData["CardTitle"] = Model.Data.PlatformInfoName + " | " + SL["DefaultUnitDeleteTitle"];
}

<partial name="_StatusResult" for="StatusMessage" />
<p class="text-info">
    @SL["DefaultUnitDeleteInfo"]
</p>

<div class="row">
    <div class="col-md-6">
        <form id="create-form" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <input type="hidden" asp-for="Data.Id" />
            <div class="form-floating mb-3">
                <input type="hidden" asp-for="Data.PlatformInfoId" />
                <input asp-for="Data.PlatformInfoName" class="form-control" disabled />
                <label asp-for="Data.PlatformInfoName" class="form-label"></label>
                <span asp-validation-for="Data.PlatformInfoName" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Data.UnitOfMeasure" class="form-control" disabled />
                <label asp-for="Data.UnitOfMeasure" class="form-label"></label>
                <span asp-validation-for="Data.UnitOfMeasure" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <select asp-for="Data.SetupUnitId"
                        asp-items="Model.Data.SetupUnits?.Select(p => new SelectListItem
                                {
                                    Value = p.Id.ToString(),
                                    Text = p.Name
                                }).ToList()"
                        class="form-select" disabled>
                    <option id="@Ulid.Empty">@SL["Select"]</option>
                </select>
                <label asp-for="Data.SetupUnitId" class="form-label"></label>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Data.UnitFactor" class="form-control" disabled />
                <label asp-for="Data.UnitFactor" class="form-label"></label>
                <span asp-validation-for="Data.UnitFactor" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Data.DefaultValue" class="form-control" disabled />
                <label asp-for="Data.DefaultValue" class="form-label"></label>
                <span asp-validation-for="Data.DefaultValue" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Data.Description" class="form-control" disabled />
                <label asp-for="Data.Description" class="form-label"></label>
                <span asp-validation-for="Data.Description" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <a class="w-30 btn btn-lg btn-secondary" asp-page="Index" asp-route-platformInfoId="@Model.Data.PlatformInfoId"><i class="bi bi-arrow-left-circle-fill"></i></a>
                <button id="delete-button" type="submit" class="w-70 btn btn-lg btn-primary"><i class="bi bi-trash2-fill"></i></button>
            </div>
        </form>
    </div>
</div>

@section Breadcrumb {
    <li class="breadcrumb-item">@Model.Data.PlatformInfoName</li>
    <li class="breadcrumb-item"><a asp-page="/Features/Platform/DefaultUnit/Index" asp-route-platformInfoId="@Model.Data.PlatformInfoId">@SL["DefaultUnits"]</a></li>
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}