@page
@inject IStringLocalizer<Localization> SL
@model Huybrechts.Web.Pages.Features.Project.ComponentUnit.IndexModel
@{
    ViewData["CardTitle"] = Model.Data.ProjectComponent.Name + " | " + SL["ComponentUnitIndexTitle"];
}
<partial name="_StatusResult" for="StatusMessage" />
<p class="text-Component">
    @SL["ComponentUnitIndexInfo"]
</p>
<div class="row">
    <div class="col-md-12">
        
        <div class="row">
            <div class="col-md-3 d-flex gap-1 align-items-center mb-3">
                <a class="btn btn-secondary hstack gap-2 align-self-center" asp-page="/Features/Project/Component/Index" asp-route-ProjectDesignId="@Model.Data.ProjectDesign.Id">
                    <i class="bi bi-arrow-up-circle-fill fs-5"></i>
                </a>
                <a class="btn btn-primary hstack gap-2 align-self-center" asp-page="Create" asp-route-ProjectComponentId="@Model.Data.ProjectComponent.Id">
                    <i class="bi bi-plus-circle fs-5"></i>
                    <span class="vr"></span>
                    @SL["Add New"]
                </a>
                <a class="btn btn-primary hstack gap-2 align-self-center" asp-page="Index" asp-page-handler="Defaults" asp-route-ProjectComponentId="@Model.Data.ProjectComponent.Id">
                    <i class="bi bi-file-earmark-plus fs-5"></i>
                    <span class="vr"></span>
                    @SL["Add Defaults"]
                </a>
            </div>
            @if (Model.Data.Results.Count > 0)
            {
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.Data.Results[0].Sequence)</th>
                                <th>@Html.DisplayNameFor(model => model.Data.Results[0].Description)</th>
                                <th>@Html.DisplayNameFor(model => model.Data.Results[0].SetupUnitName)</th>
                                <th>@Html.DisplayNameFor(model => model.Data.Results[0].ProjectQuantityName)</th>
                                <th>@Html.DisplayNameFor(model => model.Data.Results[0].Category)</th>
                                <th>@Html.DisplayNameFor(model => model.Data.Results[0].Variable)</th>
                                <th>@Html.DisplayNameFor(model => model.Data.Results[0].Quantity)</th>
                                <th>@Html.DisplayNameFor(model => model.Data.Results[0].Expression)</th>
                                <th>@Html.DisplayNameFor(model => model.Data.Results[0].UnitPrice)</th>
                                <th>@Html.DisplayNameFor(model => model.Data.Results[0].RetailPrice)</th>
                                <th>@Html.DisplayNameFor(model => model.Data.Results[0].SalesPrice)</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var record in Model.Data.Results)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => record!.Sequence)</td>
                                    <td>@Html.DisplayFor(modelItem => record!.Description)</td>
                                    <td>@Html.DisplayFor(modelItem => record!.SetupUnitName)</td>
                                    <td>@Html.DisplayFor(modelItem => record!.ProjectQuantityName)</td>
                                    <td>@Html.DisplayFor(modelItem => record!.Category)</td>
                                    <td>@Html.DisplayFor(modelItem => record!.Variable)</td>
                                    <td>@Html.DisplayFor(modelItem => record!.Quantity)</td>
                                    <td>@Html.DisplayFor(modelItem => record!.Expression)</td>
                                    <td>@Html.DisplayFor(modelItem => record!.UnitPrice)</td>
                                    <td>@Html.DisplayFor(modelItem => record!.RetailPrice)</td>
                                    <td>@Html.DisplayFor(modelItem => record!.SalesPrice)</td>
                                    <td>
                                        <a asp-page="Edit" asp-route-id="@record!.Id" class="btn btn-icon btn-primary"><i class="bi bi-pencil-square"></i></a>
                                        <a asp-page="Delete" asp-route-id="@record!.Id" class="btn btn-icon btn-secondary"><i class="bi bi-trash2-fill"></i></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }
            else
            {
                <div class="card border-2 border-secondary">
                    <h5 class="card-body">@SL["ComponentUnitNoResults"]</h5>
                </div>
            }
        </div>
    </div>
</div>

@section Breadcrumb {
    <li class="breadcrumb-item">@Model.Data.ProjectInfo.Name</li>
    <li class="breadcrumb-item"><a asp-page="/Features/Project/Design/Index" asp-route-ProjectInfoId="@Model.Data.ProjectInfo.Id">@Model.Data.ProjectDesign.Name</a></li>
    <li class="breadcrumb-item"><a asp-page="/Features/Project/Component/Index" asp-route-ProjectDesignId="@Model.Data.ProjectDesign.Id">@Model.Data.ProjectComponent.Name</a></li>
    <li class="breadcrumb-item"><a asp-page="/Features/Project/ComponentUnit/Index" asp-route-ProjectComponentId="@Model.Data.ProjectComponentId">@SL["ComponentUnits"]</a></li>
}