@page
@inject ApplicationSignInManager SignInManager
@inject ApplicationUserManager UserManager
@inject IViewLocalizer Localizer
@model Huybrechts.Web.Pages.IndexModel
@{
    Layout = null;
    var applicationUser = await UserManager.GetUserAsync(User);
    var imageSource = "/img/community.png";
    if (SignInManager.IsSignedIn(User))
    {
        if (applicationUser is not null && applicationUser.ProfilePicture is not null)
            imageSource = $"data:image/*;base64,{Convert.ToBase64String(applicationUser.ProfilePicture)}";
        else
            imageSource = "/lib/bootstrap-icons/person-badge.svg";
    }
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="Personal Portfolio of Vincent Huybrechts">
    <meta name="keywords" content="developer, resume, cv, personal, portfolio, personal resume">
    <meta name="author" content="Vincent Huybrechts">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <title>Huybrechts XYZ</title>
    <link rel="stylesheet" href="~/lib/bootstrap3/bootstrap.min.css">
    <link rel="stylesheet" href="~/lib/jquery-animatedheadline/jquery.animatedheadline.css">
    <link rel="stylesheet" href="~/css/index.css">
    <link rel="stylesheet" href="~/css/responsive.css">
</head>
<body>
    <header class="nav-area navbar-fixed-top">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="main-menu">
                        <div class="navbar navbar-cus">
                            <div class="navbar-header">
                                <a asp-page="Index" class="navbar-brand"><span class="logo">Huybrechts <span> XYZ</span></span></a>
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>
                            <div class="navbar-collapse collapse">
                                <nav>
                                    <ul class="nav navbar-nav navbar-right">
                                        <li class="active"><a class="smooth-menu" asp-page="Home">@Localizer["Home"]</a></li>
                                        <li><a class="smooth-menu" asp-page="Privacy">@Localizer["Privacy"]</a></li>
                                        @if (SignInManager.IsSignedIn(User))
                                        {
                                            <li>
                                                <form asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })">
                                                    <button type="submit" class="smooth-menu btn btn-lg btn-link">@Localizer["Logout"]</button>
                                                </form>
                                            </li>
                                        }
                                        else
                                        {
                                            <li><a class="smooth-menu" asp-page="/Account/Login">@Localizer["Login"]</a></li>
                                            <li><a class="smooth-menu" asp-page="/Account/Register">@Localizer["Register"]</a></li>
                                        }
                                        <li><partial name="_SelectLanguagePartial" /></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="banner-area" id="home">
        <div id="particles-js"><canvas class="particles-js-canvas-el" style="width: 100%; height: 100%;" width="1588" height="1142"></canvas></div>
        <div class="banner-table">
            <div class="banner-table-cell">
                <div class="welcome-text">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 col-xs-12 align-content-center">
                                <section class="intro animate-scale">

                                    <div class="img-area">
                                        <a href="https://www.linkedin.com/in/vincent-huybrechts-23b18031/" title="Linkedin">
                                        <img src="~/favicon.png" alt="">
                                        </a>
                                    </div>

                                    <h3>@Localizer["I'm Vincent"]</h3>

                                    <environment names="Development">
                                        <h3>DEVELOPMENT</h3>
                                    </environment>
                                    <environment names="Staging">
                                        <h4>STAGING</h4>
                                    </environment>
                                    <environment names="Test">
                                        <h4>TEST</h4>
                                    </environment>

                                    <h1 class="ah-headline clip is-full-width">

                                        <span class="ah-words-wrapper" style="width: 156.067px;">
                                            <b class="is-hidden">Solution Architect</b>
                                            <b class="is-visible">Development Professional</b>
                                        </span>
                                    </h1>

                                </section>

                                <div class="clearfix"></div>

                                <environment names="Development,Test">
                                    <a class="mouse-scroll hidden-xs dadada" 
                                       href="https://localhost:5433/abc/Features/Platform/Service?platformInfoId=01J4VE1SPBTD04F7HT6SPYV8KC">
                                       <span class="mouse">
                                           <span class="mouse-movement"></span>
                                       </span>
                                    </a>
                                </environment>
                                <environment names="Production,Staging">
                                    <a class="mouse-scroll hidden-xs dadada" asp-page="Home">
                                        <span class="mouse">
                                            <span class="mouse-movement"></span>
                                        </span>
                                    </a>
                                </environment>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/bootstrap3/bootstrap.min.js"></script>
    <script src="~/lib/jquery-animatedheadline/jquery.animatedheadline.js"></script>
    <script src="~/lib/jquery-waypoints/jquery.waypoints.js"></script>
    <script src="~/lib/jquery-counterup/jquery.counterup.min.js"></script>
    <script src="~/js/isotope.pkgd.min.js"></script>
    <script src="~/js/particles.js"></script>
    <script src="~/js/index-app.js"></script>
    <script src="~/js/index-main.js"></script>
</body>
</html>