@{
    var databstheme = (Context.Session.GetString("data-bs-theme") ?? string.Empty) == "dark" ? "dark" : "light";
    var appversion = System.Diagnostics.FileVersionInfo.GetVersionInfo(System.Reflection.Assembly.GetExecutingAssembly().Location).ProductMajorPart
        + "." + System.Diagnostics.FileVersionInfo.GetVersionInfo(System.Reflection.Assembly.GetExecutingAssembly().Location).ProductMinorPart
        + "." + System.Diagnostics.FileVersionInfo.GetVersionInfo(System.Reflection.Assembly.GetExecutingAssembly().Location).ProductPrivatePart;
}
<!doctype html>
<html lang="en" data-bs-theme="@databstheme" data-scheme="navy" style="font-size: 18px;">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <meta name="description" content="@ViewData["MetaInfo"]">
    <meta name="keywords" content="developer, resume, cv, personal, portfolio, personal resume">
    <meta name="author" content="Vincent Huybrechts">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <title>@ViewData["MetaTitle"] - Huybrechts XYZ</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&family=Ubuntu:wght@400;500;700&display=swap">
    <link rel="stylesheet" href="/lib/nifty/bootstrap.css">
    <link rel="stylesheet" href="/lib/nifty/nifty.css">
    <link rel="stylesheet" href="/lib/bootstrap-icons/font/bootstrap-icons.css">
    @await RenderSectionAsync("Links", required: false)
</head>
<body class="out-quart">
    
    <!-- PAGE CONTAINER -->
    <div id="root" class="root mn--max tm--expanded-hd">
        
        <!-- CONTENTS -->
        <section id="content" class="content">
            <div class="content__header content__boxed rounded-0">
                <div class="content__wrap">
                    
                    <!-- Breadcrumb -->
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a asp-page="/Home">Home</a></li>
                            @await RenderSectionAsync("Breadcrumb", required: false)
                        </ol>
                    </nav>

                    <h1 class="page-title mb-0 mt-2">@ViewData["PageTitle"]</h1>
                    <p class="lead">@ViewData["PageInfo"]</p>

                    @await RenderSectionAsync("Header", required: false)

                </div>
            </div>

            <partial name="_CookieConsentPartial" />

            @RenderBody()

            <!-- FOOTER -->
            <footer class="mt-auto">
                <div class="content__boxed">
                    <div class="content__wrap py-3 py-md-1 d-flex flex-column flex-md-row align-items-md-center">
                        <div class="text-nowrap mb-4 mb-md-0">Version @appversion - Copyright &copy; 2024 <a href="/" class="ms-1 btn-link">Vincent Huybrechts</a></div>
                        <nav class="nav flex-column gap-1 flex-md-row gap-md-3 ms-md-auto">
                            <a class="nav-link link-offset-3 link-underline-hover px-0" asp-page="/Privacy">Privacy Policy</a>
                        </nav>
                    </div>
                </div>
            </footer>
        </section>

        <!-- HEADER -->
        <header class="header">
            <div class="header__inner">

                <!-- Brand -->
                <div class="header__brand">
                    <div class="brand-wrap">
                        <a asp-page="/Home" class="brand-img stretched-link">
                            <img src="~/img/logo.png" alt="XYZ Logo" class="Nifty logo" width="16" height="16">
                        </a>
                        <div class="brand-title">XYZ</div>
                    </div>
                </div>

                <div class="header__content">

                    <!-- Content Header - Left Side: -->
                    <div class="header__content-start">

                        <!-- Navigation Toggler -->
                        <button type="button" class="nav-toggler header__btn btn btn-icon btn-sm" aria-label="Nav Toggler">
                            <i class="bi bi-list" style="font-size: 2em"></i>
                        </button>

                    </div>

                    <!-- Content Header - Right Side: -->
                    <div class="header__content-end">

                        <!-- Mega Dropdown TODO -->
                        
                        <!-- Notification Dropdown TODO -->
                        
                        <!-- User dropdown -->
                        <partial name="_UserDropdownPartial" />

                        <div class="vr mx-1 d-none d-md-block"></div>

                        <div class="form-check form-check-alt form-switch mx-md-2">
                            <input id="headerThemeToggler" class="form-check-input mode-switcher" type="checkbox" role="switch" >
                            <label class="form-check-label ps-1 fw-bold d-none d-md-flex align-items-center " for="headerThemeToggler">
                                <i class="mode-switcher-icon icon-light bi bi-sun-fill fs-5">
                                    
                                </i>
                                <i class="mode-switcher-icon icon-dark d-none bi bi-moon-fill">

                                </i>
                            </label>
                        </div>

                        <div class="vr mx-1 d-none d-md-block"></div>

                        <!-- Sidebar Toggler TODO -->

                    </div>
                </div>
            </div>
        </header>
       
        <!-- MAIN NAVIGATION -->
        <nav id="mainnav-container" class="mainnav">
            <div class="mainnav__inner">

                <!-- Navigation menu -->
                <div class="mainnav__top-content scrollable-content pb-5">


                    <!-- Profile Widget -->
                    <partial name="_NavProfileWidgetPartial" />
                    
                    <!-- Menu Items -->
                    <partial name="_NavMenuItemsPartial" />

                    <!-- Widget TODO -->
                    
                </div>

                <!-- Bottom navigation menu TODO -->
                
            </div>
        </nav>

        <!-- SIDEBAR TODO -->
        
    </div>

    <!-- SCROLL TO TOP BUTTON -->
    @await RenderSectionAsync("Scroll", required: false)

    <script src="/lib/jquery/jquery.js"></script>
    <script src="/lib/popperjs/popper.min.js"></script>
    <script src="/lib/nifty/bootstrap.min.js"></script>
    <script src="/lib/nifty/nifty.min.js"></script>
    <script src="/js/layout.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>