@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer
@inject ApplicationSignInManager SignInManager
@inject ApplicationUserManager UserManager

@{
    var applicationUser = await UserManager.GetUserAsync(User);
    var imageSource = "/img/community.png";
    if (SignInManager.IsSignedIn(User))
    {
        if (applicationUser is not null && applicationUser.ProfilePicture is not null)
            imageSource = $"data:image/*;base64,{Convert.ToBase64String(applicationUser.ProfilePicture)}";
        else
            imageSource = "/img/unknownuser32.png";
    }
}

<p></p>
<ul class="navbar-nav">
<li class="nav-item">
    <img src="@imageSource" class="rounded-circle" style="width:32px;height:32px; object-fit:cover; border-radius:30px" alt="AccountImage" />
</li>
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <div class="dropdown show">
            <a class="btn btn-light dropdown-toggle" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Hello @applicationUser!.GivenName!
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" asp-area="" asp-page="/Account/Tenant/Index" title="Manage">Tenants</a>
                <a class="dropdown-item" asp-area="" asp-page="/Account/Manage/Index" title="Manage">Account</a>
                <hr />
                <form class="" asp-area="" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })">
                    <button type="submit" class="dropdown-item">@Localizer["Logout"]</button>
                </form>
            </div>
        </div>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-page="/Account/Login">@Localizer["Login"]</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-page="/Account/Register">@Localizer["Register"]</a>
    </li>
}
</ul>