@page
@inject IStringLocalizer<Localization> SL
@model Huybrechts.Web.Pages.Features.Project.Component.EditModel
@{
    ViewData["CardTitle"] = Model.Data.ProjectInfo.Name + " | " + Model.Data.ProjectDesign.Name + " | " + SL["ComponentEditTitle"];
}

<partial name="_StatusResult" for="StatusMessage" />
<p class="text-info">
    @SL["ComponentEditInfo"]
</p>

<div class="row">
    <div class="col-md-6">
        <form id="create-form" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <input type="hidden" asp-for="Data.Id" />
            <div class="form-floating mb-3">
                <input type="hidden" asp-for="Data.ProjectInfoId" />
                <input type="hidden" asp-for="Data.ProjectDesignId" />
                <input asp-for="Data.ProjectDesign.Name" class="form-control" disabled/>
                <label asp-for="Data.ProjectDesign.Name" class="form-label"></label>
                <span asp-validation-for="Data.ProjectDesignId" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Data.Name" class="form-control border-info" required />
                <label asp-for="Data.Name" class="form-label"></label>
                <span asp-validation-for="Data.Name" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Data.Description" class="form-control" />
                <label asp-for="Data.Description" class="form-label"></label>
                <span asp-validation-for="Data.Description" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Data.Remark" class="form-control" />
                <label asp-for="Data.Remark" class="form-label"></label>
                <span asp-validation-for="Data.Remark" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <a class="w-30 btn btn-lg btn-secondary" asp-page="Index" asp-route-ProjectInfoId="@Model.Data.ProjectInfoId"><i class="bi bi-arrow-left-circle-fill"></i></a>
                <button id="edit-button" type="submit" class="w-70 btn btn-lg btn-primary"><i class="bi bi-floppy-fill"></i></button>
            </div>
        </form>
    </div>
</div>

@section Breadcrumb {
    <li class="breadcrumb-item">@Model.Data.ProjectInfo.Name</li>
    <li class="breadcrumb-item">@Model.Data.ProjectDesign.Name</li>
    <li class="breadcrumb-item"><a asp-page="/Features/Project/Component/Index" asp-route-ProjectInfoId="@Model.Data.ProjectInfoId">@SL["Components"]</a></li>
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}