@page
@model Huybrechts.Web.Pages.Account.Tenants.DisableModel
@{
    ViewData["Title"] = "Disable tenant";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h3>@ViewData["Title"]</h3>
<h4>Are you sure you want to disable this tenant?</h4>
<p>You are no longer able to update any information for this tenant!</p>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <dl class="row">
            <dt class="form-label">@Html.DisplayNameFor(model => model.Input.Id)</dt>
            <dd class="form-input">@Html.DisplayFor(model => model.Input.Id)</dd>
            <dt class="form-label">@Html.DisplayNameFor(model => model.Input.Name)</dt>
            <dd>@Html.DisplayFor(model => model.Input.Name)</dd>
            <dt class="form-label">@Html.DisplayNameFor(model => model.Input.State)</dt>
            <dd>@Html.DisplayFor(model => model.Input.State)</dd>
            <dt class="form-label">@Html.DisplayNameFor(model => model.Input.Description)</dt>
            <dd>@Html.DisplayFor(model => model.Input.Description)</dd>
        </dl>
        <div class="form-group">
            <p>
                @if (Model.Input.Picture is not null)
                {
                <img id="Picture" style="width:350px;height:350px; object-fit:cover" src="data:image/*;base64,@(Convert.ToBase64String(Model.Input.Picture))" />
                }
            </p>
        </div>
        <p></p>
        <form id="profile-form" method="post" enctype="multipart/form-data">
            <input type="hidden" asp-for="Input.Id" />
            <input type="hidden" asp-for="Input.Name" />
            <input type="hidden" asp-for="Input.State" />
            <input type="hidden" asp-for="Input.Description" />
            <input type="hidden" asp-for="Input.Remark" />    
            <a class="w-30 btn btn-lg btn-secondary" asp-page="./Index">Back</a>
            <button id="update-tenant-button" type="submit" class="w-70 btn btn-lg btn-primary">Disable</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
