@page
@inject IStringLocalizer<Localization> SL
@model Huybrechts.Web.Pages.Features.Project.Design.DeleteModel
@{
    ViewData["CardTitle"] = Model.Data.ProjectInfoName + " | " + SL["DesignDeleteTitle"];
}

<partial name="_StatusResult" for="StatusMessage" />
<p class="text-info">
    @SL["DesignDeleteInfo"]
</p>

<div class="row">
    <div class="col-md-6">
        <form id="create-form" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <input type="hidden" asp-for="Data.Id" />
            <div class="form-floating mb-3">
                <input type="hidden" asp-for="Data.ProjectInfoId" />
                <input asp-for="Data.ProjectInfoName" class="form-control" disabled />
                <label asp-for="Data.ProjectInfoName" class="form-label"></label>
                <span asp-validation-for="Data.ProjectInfoName" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Data.Name" class="form-control" disabled />
                <label asp-for="Data.Name" class="form-label"></label>
                <span asp-validation-for="Data.Name" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Data.State" class="form-control" disabled />
                <label asp-for="Data.State" class="form-label"></label>
                <span asp-validation-for="Data.State" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Data.Reason" class="form-control" disabled />
                <label asp-for="Data.Reason" class="form-label"></label>
                <span asp-validation-for="Data.Reason" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Data.Description" class="form-control" disabled />
                <label asp-for="Data.Description" class="form-label"></label>
                <span asp-validation-for="Data.Description" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Data.Environment" class="form-control" disabled />
                <label asp-for="Data.Environment" class="form-label"></label>
                <span asp-validation-for="Data.Environment" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Data.Version" class="form-control" disabled />
                <label asp-for="Data.Version" class="form-label"></label>
                <span asp-validation-for="Data.Version" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Data.Dependencies" class="form-control" disabled />
                <label asp-for="Data.Dependencies" class="form-label"></label>
                <span asp-validation-for="Data.Dependencies" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Data.Priority" class="form-control" disabled />
                <label asp-for="Data.Priority" class="form-label"></label>
                <span asp-validation-for="Data.Priority" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Data.Risk" class="form-control" disabled />
                <label asp-for="Data.Risk" class="form-label"></label>
                <span asp-validation-for="Data.Risk" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Data.Rating" class="form-control" disabled />
                <label asp-for="Data.Rating" class="form-label"></label>
                <span asp-validation-for="Data.Rating" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Data.Remark" class="form-control" disabled />
                <label asp-for="Data.Remark" class="form-label"></label>
                <span asp-validation-for="Data.Remark" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <a class="w-30 btn btn-lg btn-secondary" asp-page="Index" asp-route-ProjectInfoId="@Model.Data.ProjectInfoId"><i class="bi bi-arrow-left-circle-fill"></i></a>
                <button id="delete-button" type="submit" class="w-70 btn btn-lg btn-primary"><i class="bi bi-trash2-fill"></i></button>
            </div>
        </form>
    </div>
</div>

@section Breadcrumb {
    <li class="breadcrumb-item">@Model.Data.ProjectInfoName</li>
    <li class="breadcrumb-item"><a asp-page="/Features/Project/Design/Index" asp-route-ProjectInfoId="@Model.Data.ProjectInfoId">@SL["Designs"]</a></li>
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}